---
layout: default
title: Riggleman Research Lab
categories:
 - home
---

<div class="row">
  <div class="col-md-12">
    <object id="home-logo" class="pull-left" data="/images/rigg.png" type="image/png">
    </object>
    <div id="home-title">
      Riggleman Computational Soft Matter Lab
    </div>
  </div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    The Riggleman Lab at the University of Pennsylvania
    develops and implements advanced molecular modeling techniques
    to study soft matter systems like polymers and glassy materials.
    We explore the dynamics and thermodynamics of these systems
    across a variety of time and length scales
    to help explain and predict experimental findings.
  </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    <h1>
      <a class="off" href="/publications/">
        Recent Publications
      </a>
    </h1>
    <hr>
    <div class="bigspacer"></div>
  </div>
</div>

  {% assign counter = 1 %}
  {% assign loopindex = -1 %}
  {% for publication in site.categories.publications limit:4 %}
    {% assign loopindex = counter | modulo: 2 %}
    {% if loopindex == 1 %}
<div class="row">
    {% endif %}
    {% include pub_box.html pub=publication short=true %}
    {% if loopindex == 0 %}
</div>
    {% endif %}
    {% assign counter = counter | plus: 1 %}
  {% endfor %}
  {% if loopindex == 1 %}
</div>
  {% endif %}
