---
layout: default
title: Riggleman Lab / Research
categories:
 - research
---

<script src="/js/smooth-scroll.min.js"></script>

<div class="row">
  <div class="col-md-12">
    <h1>Research</h1>
    <hr/>
    Here's a statement about the research we do here in the Riggleman Lab.
    Blah Blah...
  </div>
</div>

<div class="bigspacer"></div>

<h3>Research Topics:</h3>
<ol>
{% for topic in site.categories.research %}
  <li>
    <a data-scroll href="#topic{{ forloop.index }}">{{ topic.title }}</a>
  </li>
{% endfor %}
</ol>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
  {% for topic in site.categories.research %}
    {% include research_post.html topic_loc=topic index=forloop.index %}
    <div class="bigspacer"></div>
    <div class="bigspacer"></div>
  {% endfor %}
  </div>
</div>

<script>
  smoothScroll.init();
</script>
