---
layout: default
title: Riggleman Lab / Research
categories:
 - research
---

<script src="/js/smooth-scroll.min.js"></script>

<div class="row">
  <div class="col-md-12 post">
    <h1>Research</h1>
    <hr/>
    <p>
    The research in our group uses theory and simulation to address both
    fundamental and engineering questions in a wide family of problems in soft
    matter.

    A theme that spans much of our work is understanding how nanoscale
    confinement affects the properties of soft materials relevant for
    engineering applications.

    In glass-forming materials, such as polymer glasses and small-molecule
    organic glasses, we study how the dynamics and mechanical properties are
    influenced by interfaces.

    In polymer nanocomposites we study how the presence of interfaces and
    processing and can exploited to tune the distribution of particles in
    inhomogeneous polymeric materials, such as polymer blends and block
    copolymers.

    A second broad area of interest for the group is in the mechanical and
    rheological properties of disordered solids, where we have developed new
    models to study brittle failure in glasses and power law rheology is soft
    fluids.

    Our modeling philosophy is always to use the simplest model possible that
    captures the essential physics; this necessarily involves the use of highly
    coarse-grained approaches that do not retain substantial chemical detail,
    and our methods are tested through careful comparisons to experiments.
    </p>
  </div>
</div>

<div class="bigspacer"></div>

<h3>Research Topics:</h3>
<ol>
{% for topic in site.categories.research %}
  <li>
    <a data-scroll href="#topic{{ forloop.index }}">{{ topic.title }}</a>
  </li>
{% endfor %}
</ol>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
  {% for topic in site.categories.research %}
    {% include research_post.html topic_loc=topic index=forloop.index %}
    <div class="bigspacer"></div>
    <div class="bigspacer"></div>
  {% endfor %}
  </div>
</div>

<script>
  smoothScroll.init();
</script>
