{% assign topic_loc = include.topic_loc %}

<div class="row">
  <div class="col-md-12">
    <h1 id="topic{{ include.index }}">{{ topic_loc.title }}</h1>
    <hr/>
    {% if topic_loc.image %}
    <img class="offset" src="{{ topic_loc.image }}">
    {% endif %}
    <div class="post">
      {{ topic_loc.content }}
    </div>
    {% if topic_loc.publication-dois %}
    <div class="bigspacer"></div>
    <h2>Publications</h2>
    <ol>
      {% for doi in topic_loc.publication-dois %}
        {% capture pub-url %}http://dx.doi.org/{{ doi }}{% endcapture %}
        {% capture pub-title %}{{ doi }}{% endcapture %}
        {% for publication in site.categories.publications %}
          {% if doi == publication.doi %}
            {% capture pub-url %}{{ publication.url }}{% endcapture %}
            {% capture pub-title %}{{ publication.title }}{% endcapture %}
            {% break %}
          {% endif %}
        {% endfor %}
      <li><a href="{{ pub-url }}">{{ pub-title }}</a></li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>
</div>
